/* PAGINA ESTATICA */
div#cabeza_ {
    width: 750px; 
    padding: 5px;
    border: red solid 1px; 
    }
div#lateral_ {
    width: 100px; 
    padding: 5px;
    height: 100%; 
    float: left; 
    border: blue solid 1px; 
    }
div#lateral_ ul{
    padding-left: 16px;
    border: green dotted 1px; 
    }
div#lateral_ ul li {
    margin-left: 0; 
    }
div#contenido_ {
    width: 638px; 
    margin-left: 112px;
    padding: 5px; 
    border: green solid 1px; 
    }
div#contenido_ p {
    text-align: justify; 
    }
div#pie_ {
    width: 750px; 
    padding: 5px;           
    border: red solid 1px; 
    }
div.borra-flotacion_ {
    clear: both; 
    }    
    

    /* ESTRUCTURA FIJA CON DIV TOTAL */

    div#total {
        width: 762px;
        margin: auto;
        border: maroon dashed 1px;
        }
    div#cabeza {  /*no hace falta el ancho */
        padding: 5px;
        border: red solid 1px; 
        }
    div#lateral {
        width: 100px; 
        padding: 5px;
        height: 100%; 
        float: left; 
        border: blue solid 1px; 
        }
    div#lateral ul{
        padding-left: 16px;
        border: green dotted 1px; 
        }
    div#lateral ul li {
        margin-left: 0; 
        }
    div#contenido { /* no hace falta el ancho  */
        margin-left: 112px;
        padding: 5px; 
        border: green solid 1px; 
        }
    div#contenido p {
        text-align: justify; 
        }
    div#pie { /* no hace falta el ancho  */
        padding: 5px;           
        border: red solid 1px; 
        }
    div.borra-flotacion {
        clear: both; 
        }     
        
        /*ESTRUCTURA LIQUIDA*/

        div#total2 {                     /* ancho 762px */
            border: maroon dashed 1px;
            }
        div#cabeza2 {
            border: red solid 1px;
            padding: 0.67%;             /* 5px/750px = 0.0067 */
            }
        div#lateral2 {
            width: 13.12%;              /* 100px/762px = 0.1312 */
            height: 100%;
            padding: 0.67%;             /* 5px/750px = 0.0067 */          
            float: left;
            border: blue solid 1px;
            }
        div#lateral2 ul{
            padding-left: 16%;         /* 16px/100px = 0.16 */   
            border: green dotted 1px;
            }
        div#lateral2 ul li {
            margin-left: 0;
            }
        div#contenido2 {
            margin-left: 14.70%;        /* 112px/762px = 0.1470 */
            padding: 0.67%;             /* 5px/750px = 0.0067 */
            border: green solid 1px;
            }
        div#contenido2 p {
            text-align: justify;
            }
        div#pie2 {
            padding: 0.67%;            /* 5px/750px = 0.0067 */
            border: red solid 1px;
            }
        div.borra-flotacion2 {
            clear: both;
            }    


            /* ELASTICA CON BORDER GRUESO*/
            body {
                font-family: Times New Roman;
                font-size: 1em;          /* 1em equivale a 16px por defecto */
                }
            div#total3 {
                min-width: 40.625em;             /* 650px/16px = 40.625em */
                border: maroon dashed 0.5em;     /* 8px/16px = 0.5em */
                }
            div#cabeza3 {
                padding: 0.3125em;              /* 5px/16px = 0.3125em */
                border: red solid 0.5em;            
                }
            div#lateral3 {
                width: 6.25em;                  /* 100px/16px = 6.25em */
                height: 100%;
                padding: 0.3125em;   
                float: left;
                border: blue solid 0.5em;
                }
            div#lateral3 ul{
                padding-left: 1em;              /* 16px/16px = 1em */   
                border: green dotted 0.5em;
                }
            div#lateral3 ul li {
                margin-left: 0;
                }
            div#contenido3 {
                /* Con el ancho del lateral del ejemplo anterior: 112px/16px = 7em
                Que es lo mismo que sumar el ancho del lateral más sus dos
                rellenos y bordes, todo sumado en em's: 
                6.25em + (2 x 0.3125em) + (2 x 0.5em) = 7.875em
                */
                margin-left: 7.875em; 
                padding: 0.3125em;
                border: green solid 0.5em;
                }
            div#contenido3 p {
                text-align: justify;
                }
            div#pie3 {
                padding: 0.3125em;   
                border: red solid 0.5em;
                }
            div.borra-flotacion3 {
                clear: both;
                }    
                

        
        